<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:head>

</h:head>

<h:body>

	<!-- Se puede realizar el responsive con panelGrid o con clases CSS-->
	<!-- <p:panelGrid columns="4" layout="grid" styleClass="showcase-text-align-center" columnClasses="ui-g-12 ui-md-6 ui-lg-3, ui-g-12 ui-md-6 ui-lg-3, ui-g-12 ui-md-6 ui-lg-3, ui-g-12 ui-md-6 ui-lg-3"> -->

	<div class="ui-g">
		<div class="ui-g-3"></div>
		<div class="ui-g-6">
			<h:form id="formix">
				<p:outputLabel></p:outputLabel>
				<p:commandButton value="Exportar" action="#{bodega.repCategorias()}"
					ajax="false" />
				<p:outputLabel></p:outputLabel>
			</h:form>

			<p:commandButton value="Nuevo" onclick="PF('dlg2').show();"></p:commandButton>
			<br /> <br />
			<p:dataTable value="#{bodega.consultarRubros()}" var="cat">
				<p:column headerText="Categoria">
					<p:outputLabel value="#{cat.nombre}"></p:outputLabel>
				</p:column>

				<p:column headerText="Descripcion">
					<p:outputLabel value="#{cat.descripcion}"></p:outputLabel>
				</p:column>

				<p:column width="100">
					<p:commandButton value="Detalle" icon="fa-search-plus"
						type="button"></p:commandButton>
				</p:column>
			</p:dataTable>
		</div>
		<p:dialog header="Categorias de productos" widgetVar="dlg2"
			modal="true" height="100" closeOnEscape="true">
			<p:panelGrid columns="2">
				<p:outputLabel value="Nombre"></p:outputLabel>
				<p:inputText placeholder="Digite con letras"></p:inputText>

				<p:outputLabel value="Descripcion"></p:outputLabel>
				<p:inputText placeholder="Digite con letras"></p:inputText>

			</p:panelGrid>
			<p:commandButton value="Registrar"></p:commandButton>
		</p:dialog>
		<div class="ui-g-3"></div>
	</div>

</h:body>
</html>